:root {
  --rows: 10;
  --columns: 10;
  --tile-height: 40px;
  --tile-width: 40px;
  --label-counter-size: 2ch;
  --water-color: #263e7c;
  --current-player: "none";
}

.board-containers {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.board-header-info {
  display: block;
  text-align: center;
}
.board-container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(11, var(--tile-width));
  grid-template-rows: repeat(11, var(--tile-height));
  gap: 5px;
  padding: 5px;
  align-self: baseline;
}

/* TODO didnt work, i would like to look it up later */
/* .board-container[data-player~="var(--current-player)"] {
  opacity: 0.3;
} */
.board-container[data-player-status="ally"] {
  opacity: 0.3;
}
.board-container > div {
  /* border: 1px solid rgb(55, 0, 255); */
  background-color: var(--water-color);
  align-content: center;
  text-align: center;
}
.board-container > div > img {
  max-width: 40px;
  height: 40px;
}
/* counters setting and incrementing but forget about the very fist cell, it should be empty */
.board-container > [data-row="0"]:not([data-column="0"]) {
  counter-increment: column;
  background-color: transparent;
}
.board-container > [data-column="0"]:not([data-row="0"]) {
  counter-increment: row;
  background-color: transparent;
}
/* selecting the header row to define columns labels */
/* 0 0 is the empty cell, so we cant count row 0 */
/* row counters */
.board-container > [data-column="0"]:not([data-row="0"])::before {
  content: counter(row);
  display: block;
  text-align: end;
  margin-right: 3px;
  font-size: var(--label-counter-size);
  background-color: transparent;
  /* height: 100%; */
  /* grid-column: attr(data-column);
  grid-row: attr(data-column); */
}
/* column counters */
.board-container > [data-row="0"]:not([data-column="0"])::before {
  content: counter(column, upper-alpha);
  display: block;
  /* height: 100%; */
  text-align: center;
  background-color: transparent;
  font-size: var(--label-counter-size);
}

.board-container > [data-row="0"][data-column="0"] {
  background-color: transparent;
}
