:root {
  --rows: 10;
  --columns: 10;
}

.board-container {
  counter-reset: column;
  counter-reset: row;
  background-color: rgb(189, 207, 252);
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 5px;
  padding: 5px;
}
.board-container > div {
  border: 1px solid rgb(55, 0, 255);
  background-color: rgb(116, 142, 207);
}

.board-container > [data-column="0"]:not([data-row="0"])::before {
  content: counter(row);
  display: block;
  text-align: center;

  background-color: pink;
  height: 100%;
  /* grid-column: attr(data-column);
  grid-row: attr(data-column); */
}
.board-container > [data-row="0"]:not([data-column="0"]) {
  counter-increment: column;
}
.board-container > [data-column="0"]:not([data-row="0"]) {
  counter-increment: row;
}
.board-container > [data-row="0"]:not([data-column="0"])::before {
  content: counter(column, upper-alpha);
  display: block;
  height: 100%;
  text-align: center;
  background-color: purple;
}
.board-container > [data-row="0"][data-column="0"] {
  background-color: magenta;
}

/* .board-column-indicators {
  grid-area: columnHeaders;
  grid-row: 1/-1;
}
.board-row-indicator,
.board-column-indicator {
  background-color: rgb(189, 207, 252);
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  padding: 5px;
}
.board-row-indicators {
  grid-area: rowHeaders;
  grid-column: 1/-1;
} */
