* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  background-color: black;
  color: white;
  font-family: sans-serif;
  --ship-view-tile: 20px;
  --max-ship-size: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "logger";
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
  width: 100vw;
  gap: 20px;
  place-items: center;
}
.header {
  grid-area: header;
}
.main-container {
  grid-area: main;
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ship-placement-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ship-placement-container::before {
  content: "Ships";
  display: inline-block;
  position: absolute;
  font-size: 30px;
  top: -10px;
  margin-left: 20px;
}

.ships-menu {
  display: flex;

  flex-direction: column;
  row-gap: 5px;
}
.ships-menu > * {
  border: 1px solid blue;
  min-width: 40%;
}
.ship-view {
  width: 50px;
  height: auto;
  display: block;
  background-color: lightgreen;
}
.ship-parts-view img {
  height: var(--ship-view-tile);
  width: var(--ship-view-tile);
  pointer-events: none;
}
.ship-parts-view:has(+ .ship-info[data-direction="vertical"]) {
  /* rotate: 90deg; */
  flex-direction: column;
}
.ship-parts-view:has(+ .ship-info[data-direction="vertical"]) img {
  rotate: 90deg;
}
.ship-parts-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--max-ship-size) * var(--ship-view-tile));
  height: calc(var(--max-ship-size) * var(--ship-view-tile));
}
.ship-parts-view[draggable="false"] {
  /* visibility: hidden; */
  display: none;
}
.ship-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ship-info {
  padding: 5px;
}
.ship-info .ship-name::before {
  content: "Name: ";
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}
.ship-info .ship-length::before {
  content: "Size: ";
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}
